_site/

.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
.gembuild
vendor/

jekyll-theme-pirati*gem

node_modules

*DS_Store
*.swp

# https://github.com/bundler/bundler/issues/635
# Missing lock file now generates other problems with bundler v2, no ignore anymore, just be careful!
# Never commit changed lockfile unless you're sure you want to do it.
# Gemfile.lock
