---
layout: communal-elections
title: Komunální volby v Praze
img: brand/logo_white.png
heroBgImg: posts/obrazek.u.tohoto.postu.jpg
campaignGroupUid: volby-2018
campaignCategoryUid: praha2018
candidateListUid: radnice # uid z `_candidates/radnice.md`
customizeHeader: true
---

{% assign candidates = site.candidatelists | where: "uid", page.candidateListUid | first %}

{% capture mainContent %}
  <h1 class="head-alt-md md:head-alt-xl">Vlastní hlavní obsah</h1>
{% endcapture %}

{% capture subContent %}
  <h2 class="head-xs mt-2">Úvodní text. Např vysvětlení koalice, podpory.</h2>

  <div class="mt-4 md:mt-8 space-y-4">
    {% include buttons/icon.html icon="ico--chevron-right" cta="Program" class="btn--cyan-200 btn--hoveractive btn--fullwidth md:btn--autowidth text-lg" %}
    {% include buttons/icon.html icon="ico--chevron-right" cta="Kandidáti" class="btn--blue-300 btn--hoveractive btn--fullwidth md:btn--autowidth text-lg" %}
  </div>
{% endcapture %}

{% include elections-header.html img=page.img bgImg=page.heroBgImg mainContent=mainContent subContent=subContent candidateListNumber=candidates.number %}

<div class="container container--default">
  <p>Plus je možnost dát ještě něco pod hero</p>
</div>
